html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header,
footer {
  padding: 1rem;
  background: #151515;
  color: #fffffa;
}

.logo {
  width: 7rem;
  height: auto;
}