html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header,
footer {
  position: relative;
  padding: 1rem;
  background: #c0c0c0;
  color: #202020;
}

header {
  height: 4rem;
}

footer {
  color: #fffffa;
  background-color: #202020;
}

main {

}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  position: absolute;
  margin-left: -7rem;
  left: 50%;
  top: 1rem;
  width: 7rem;
  height: 7rem;
  padding: 1.5rem;
  background-color: #202020;
  border-radius: 50em;
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
}