html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header,
footer {
  position: relative;
  padding: 1rem;
  background: #d0d0d0;
  color: #fffffa;
}

.logo {
  position: absolute;
  margin-left: -7rem;
  left: 50%;
  top: 1rem;
  width: 7rem;
  height: 7rem;
  padding: 1.5rem;
  background-color: #404040;
  border-radius: 50em;
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
}