<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
      {{ page.title }} - {{ page.subtitle }}
    </title>
    
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/normalize.css' | relative_url }}">
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="{{ '/assets/img/uonnoulogo.svg' | relative_url }}" alt="UONNOU">
      </div>
      <div class="container">
      <nav>
        <ul>
          <li><a href="#">Alla inlägg</a></li>
          <li><a href="#">Om mig</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </nav>
    </div>
    </header>
    {{ content }}

    <footer>
      <div class="container">
      Footer
    </div>
    </footer>

  </body>
</html>
