<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ page.title }} - {{ page.subtitle }}
    </title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <img class="hero" src="assets/img/uonnou.png" alt="UONNOU">
      </div>
      <nav>
        <ul>
          <li>Meny</li>
        </ul>
      </nav>
    </header>
    {{ content }}
    <footer>
      Footer
    </footer>
  </body>
</html>
